<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <!-- Include Navbar.ejs -->
    <%- include('Home.ejs') %> 
    <%- include('Features.ejs') %> 
    <%- include('Menu.ejs') %>
    <%- include('card.ejs', { CardData: CardData }) %>
    <%- include('Testimonials.ejs') %>
    <%- include('Contact.ejs') %>
    <%- include('Footer.ejs') %>
    <!-- Your main content here -->
  </body>
</html>
